*, *::before, *::after
{
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-user-select: none;
    user-select: none;

    outline: none;
}

*:focus-visible
{
    outline: 3px solid hsl(var(--outline-focus-colour, var(--game-board-text-colour)), 0.9);
    outline-offset: 0.10rem;
}

html[data-theme="light"],
html[data-theme="dark"],
html[data-theme="retro"]
{
    --game-font-current: "Noto Sans Mono";
    --game-font: var(--game-font-current), "system-ui", -apple-system, BlinkMacSystemFont, sans-serif;

    --game-background-colour: hsl(216, 75%, 78%);
    --game-background-image-invert: 0;
    --game-board-font: var(--game-font);
    --game-board-grid-size: 4;

    /* HSL format. */
    --game-board-background-colour: 0, 0%, 97%;
    --game-board-text-colour: 0, 0%, 0%;

    --game-page-transition-duration: 400ms;
    --outline-focus-colour: 0, 0%, 0%;
}

html[data-theme="light"]
{
    --game-background-image-invert: 0;
    --game-background-colour: hsl(216, 75%, 78%);

    /* HSL format. */
    --game-board-background-colour: 0, 0%, 97%;
    --game-board-text-colour: 0, 0%, 0%;
    --outline-focus-colour: 0, 0%, 0%;
}

/* Dark mode. */
html[data-theme="dark"]
{
    --game-background-image-invert: 0.8;
    --game-background-colour: hsl(216, 39%, 65%);

    /* HSL format. */
    --game-board-background-colour: 0, 0%, 10%;
    --game-board-text-colour: 0, 0%, 100%;
    --outline-focus-colour: 0, 0%, 0%;
}

/* Dark mode. */
html[data-theme="retro"]
{
    --game-font-current: "8 Bit Operator";
    --game-background-image-invert: 1;
    --game-background-colour: hsl(247, 89%, 61%);

    /* HSL format. */
    --game-board-aura: 0, 0%, 0%;
    --game-border-colour: 0, 0%, 0%;
    --game-border-w: 4px;
    --game-board-background-colour: 247, 89%, 61%;
    --game-board-text-colour: 0, 0%, 100%;
    --bg-opacity: 0.3;
    --aura-size: 1.7rem;
    --aura-animation-dur: 1ms;
    --outline-focus-colour: 6, 89%, 61%;
}

html, body
{
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
}

body
{
    position: relative;
    background-color: var(--game-background-colour);
    min-height: 100vh;
}

body::before
{
    content: '';
    position: absolute;
    background-image: url("../assets/images/GameBG.png");
    width: 100%;
    min-height: inherit;
    opacity: var(--bg-opacity, 0.5);

    -webkit-filter: invert(var(--game-background-image-invert));
    filter: invert(var(--game-background-image-invert));
}

body::before
{
    z-index: -1;
    background-size: 4rem;
    animation: moveBG 49000ms linear infinite;
}

body::after
{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    min-height: inherit;

    -webkit-box-shadow: inset 0px 0px 2px var(--aura-size, 1rem) hsl(var(--game-board-background-colour));
    box-shadow: inset 0px 0px 2px var(--aura-size, 1rem) hsl(
        var(--game-board-aura, var(--game-board-background-colour))
    );
    z-index: -1;
}

.main-content
{
    display: grid;
    place-items: center;
    min-height: inherit;
    font-family: var(--game-font);
}

a[class]
{
    text-decoration: none;
}

.btn
{
    font-size: 1.25rem;
    padding: 0.5em;
    background-color: hsl(var(--game-board-background-colour));
    color: hsl(var(--game-board-text-colour));
    border: var(--game-border-w, 2px) solid hsl(var(--game-border-colour, var(--game-board-text-colour)));
}

button,
.btn
{
    transition: transform 300ms ease;
}

button.can-animate-hover:hover,
.btn:hover
{
    transform: scale(1.1);
}

.divider
{
    position: relative;
    margin-top: 0.25em;
    margin-bottom: 1.25em;
    border: none;
    height: 2px;
    border-radius: 100rem;
    background-color: hsl(var(--game-board-text-colour));
}

html[data-theme="retro"] body::before
{
    background-size: auto;
    animation: none;
}

html[data-theme="retro"] ::-webkit-scrollbar
{
    width: 1rem;
}

html[data-theme="retro"] ::-webkit-scrollbar-track
{
    background-color: #252525;
}

html[data-theme="retro"] ::-webkit-scrollbar-thumb
{
    background-color: #FFFFFF;
    border: 2px solid #011010;
    height: 1rem;
}

html[data-theme="retro"] ::-webkit-scrollbar-thumb:hover
{
    background-color: #CCCCCC;
}

html[data-theme="retro"] ::-webkit-scrollbar-button
{
    background-color: #FFFFFF;
    width: 1rem;
    height: 1rem;
    border: 2px solid #011010
}

/* Up. */
html[data-theme="retro"] ::-webkit-scrollbar-button:single-button:vertical:decrement
{
    width: 8px;
    height: 1rem;
    background-image: url("../assets/images/retro_arrow.png");
    background-position: center;
    background-repeat: no-repeat;
}

/* Down. */
html[data-theme="retro"] ::-webkit-scrollbar-button:single-button:vertical:increment
{
    width: 8px;
    height: 1rem;
    background-image: url("../assets/images/retro_arrow_down.png");
    background-position: center -1px;
    background-repeat: no-repeat;
}

html[data-theme="retro"] body::after
{
    animation: aura_flash var(--aura-animation-dur, 0ms) linear infinite alternate;
}

/* Disable all animations. */
@media only screen and (prefers-reduced-motion: reduce)
{
    *, *::before, *::after
    {
        -webkit-animation-delay: -1ms !important;
        animation-delay: -1ms !important;
        
        -webkit-animation-duration: 1ms !important;
        animation-duration: 1ms !important;
        
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;

        background-attachment: initial !important;
        scroll-behavior: auto !important;
        
        -webkit-transition-duration: 0ms !important;
        transition-duration: 0ms !important;

        -webkit-transition-delay: 0ms !important;
        transition-delay: 0ms !important;
    }
}