.bg-transparent { background-color: transparent; }
.text-align-left { text-align: left; }
.text-align-centre { text-align: center; }
.text-align-right { text-align: right; }
.text-align-justify { text-align: justify; }
.flex-col { flex-direction: column;}